@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #262626;
  --foreground: #fbfbfb;
  --card: #353434;
  --card-foreground: #fbfbfb;
  --popover: #262626;
  --popover-foreground: #fbfbfb;
  --primary: #fbfbfb;
  --primary-foreground: #343434;
  --secondary: #434343;
  --secondary-foreground: #fbfbfb;
  --muted: #434343;
  --muted-foreground: #b3b3b3;
  --accent: #434343;
  --accent-foreground: #fbfbfb;
  --destructive: #b04f42;
  --destructive-foreground: #a2b7d7;
  --border: #434343;
  --input: #434343;
  --ring: #707070;
  --chart-1: #7c3e8f;
  --chart-2: #8f3d99;
  --chart-3: #c252b3;
  --chart-4: #b1c5b7;
  --chart-5: #9c6073;
  --radius: 0.625rem;
  --sidebar: #343434;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #7c3e8f;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #434343;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: #434343;
  --sidebar-ring: #707070;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply bg-primary text-primary-foreground hover:bg-primary/80 hover:text-primary-foreground/80 cursor-pointer;
  }
}
